* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botao-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.explore {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.botao {
  background-color: #1b4b6f; /* Cor azul escuro */
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  cursor: default; /* Não clicável por padrão */
}

.botao.clicavel {
  cursor: pointer;
  transition: background 0.3s;
}

.botao.clicavel:hover {
  background-color: #265c8a; /* Cor mais clara ao passar o mouse */
}
