body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 23vh;
  height: 30vh;
  background-color: #1e90ff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: rgb(0, 0, 0);
  user-select: none;
  margin-left: 2px;
}

.card.revealed {
  background-color: #90ee90;
  cursor: default;
}

@media (max-width: 600px) {
  .game-board {
       /* ocupa toda a tela */
   grid-template-columns: repeat(2, auto);
  }
}